:root {
    --black: #171717;
    --red: #ee4266;
    --white: rgb(240, 241, 241);
    --sblue: rgba(15, 177, 226, 0.747);
    --lblue: #0FBBDC;
    --mblue: #159cc5b7;
    --dblue: rgb(36, 46, 161);
    --ddblue: #272d75;
    --tblue: #0c2d3bcc;
    --eblue: #0b2f3fee;
    --yellow: #ffd829;
    --dyellow: #F0C656;
    --green: #02ca3e;
    --dgreen: #2ce764;
    --gray: rgba(102, 102, 102, 0.938);
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

body {
    scroll-behavior: smooth;
    margin: unset;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: var(--lblue);
    text-shadow: 0 0 .8vmin var(--sblue);
    background-color: #2b2b2b;
}

::-webkit-scrollbar {
    width: 0.9vmin;
}

 ::-webkit-scrollbar-track {
    background: rgba( 232, 232, 232, 0);
}

 ::-webkit-scrollbar-thumb {
    background: var(--sblue);
    border-radius: .01vmin;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--lblue);
}

::-moz-selection,
::selection {
    color: var(--white);
    background: var(--lblue);
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.city {
    flex: 10;
}

.rbar {
    flex: 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1vmin solid var(--sblue);
    box-shadow: 0 0 .8vmin var(--sblue);
}

.background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}

.resp {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
    transition-timing-function: .3s;
}

.cons {
    flex: 7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.upg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.3vmin;
    padding: 1vmin;
    height: 7vmin;
    overflow: hidden;
    overflow-y: auto;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.upg:hover {
    height: 18vmin;
}

.upgrade {
    border: .5vmin solid var(--lblue);
    box-shadow: 0 0 .8vmin var(--sblue);
    height: 6.8vmin;
    width: 6.8vmin;
    border-radius: 50%;
    cursor: pointer;
}

.upgrade:hover {
    transform: translateY(-.5vmin);
}

.enl {
    flex: 6;
    overflow-y: scroll;
    padding: 0 .25vmin 0 1vmin;
}

.item {
    width: 96%;
    height: 7vmin;
    margin: 2vmin auto 2vmin;
    border: .5vmin solid var(--lblue);
    box-shadow: 0 0 .8vmin var(--sblue);
    border-radius: 1%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-shadow: 0 0 1vmin var(--sblue);
    padding: .5vmin;
}

.item:hover:not(.disabled),
.item:active:not(.disabled) {
    background-color: var(--mblue);
    border: .5vmin solid var(--mblue);
    box-shadow: unset;
    text-shadow: 0 0 .01vmin var(--white);
}

.item:hover:not(.disabled) .iprice,
.item:active:not(.disabled) .iprice {
    text-shadow: none;
    color: var(--yellow);
}

.item:active:not(.disabled, .cantbuy),
.upgrade:active:not(.disabled, .cantbuy) {
    transform: scale(.96);
    transition-timing-function: ease-in-out;
    transition-duration: .05s;
}

.item.disabled,
.item.cantbuy {
    background-color: var(--tblue);
    border: .5vmin solid var(--mblue);
    box-shadow: unset;
}

.item.disabled {
    cursor: not-allowed;
    text-shadow: none !important;
}

.lside {
    flex: 2;
}

.rside {
    flex: 1;
    text-align: right;
    padding-right: 1vmin;
}

.lside,
.rside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .15vmin;
}

.iid {
    flex: 6;
    display: flex;
    flex-direction: row;
    gap: 1vmin;
}

.iico {
    flex: 1;
    background-image: url(gfx/alyx.jpg);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 5%;
}

.iname {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    font-size: 2.4vmin;
}

.item.disabled .iname {
    color: var(--gray);
    text-shadow: none;
}

.iprice {
    flex: 1;
    padding-left: 1vmin;
    color: var(--dgreen);
}

.item.disabled .iprice {
    visibility: hidden;
}

.item.cantbuy .iprice {
    color: var(--red);
    text-shadow: 0 0 1vmin var(--red);
}

.icount {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4vmin;
    color: var(--white);
}

.item.disabled .icount {
    color: var(--gray);
    visibility: hidden;
}

.igain {
    flex: 1;
    font-size: 2.3vmin;
    color: var(--lblue);
}

.item.disabled .igain {
    visibility: hidden;
}

.count {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vmin;
    padding: 1vmin;
}

.resin {
    flex: 5;
    background-image: url(gfx/resin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 15vw;
    margin: auto;
    margin-top: 4%;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
}

.resin:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.resin:active {
    transform: scale(.95);
    transition-timing-function: ease-in-out;
    transition-duration: .05s;
}

.cleffect {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 1vmin;
    z-index: 99;
}

.cnumber {
    font-size: 3vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    overflow: visible;
    background-color: var(--tblue);
    box-shadow: 0 0 1vmin var(--sblue);
}

.ceffect {
    margin: auto;
    width: 2.5vmin;
    height: 2.5vmin;
    background-color: var(--dyellow);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5vmin);
    transition-timing-function: ease-out;
    transition-duration: 1s;
    transition: visibility 0s 1s, opacity 1s ease-in;
}